![logo](office_logo.png)

##### import libraries

In [34]:
import pandas as pd
import numpy as np

# (1) Importing & Cleaning

In [35]:
#import .csv file
raw_script_df = pd.read_csv("the-office-lines - scripts.csv")

#check datatypes
print(raw_script_df.dtypes)
raw_script_df.head()

id            int64
season        int64
episode       int64
scene         int64
line_text    object
speaker      object
deleted        bool
dtype: object

,id,season,episode,scene,line_text,speaker,deleted
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False

In [36]:
raw_script_df.shape

(59909, 7)

In [37]:
#drop 'id' column
raw_script_df = raw_script_df.drop('id', axis=1)
raw_script_df.head()

,season,episode,scene,line_text,speaker,deleted
0,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,1,1,1,"All right. Well, let me show you how it's done.",Michael,False

In [39]:
#print unique values for columns
print(raw_script_df.season.unique())
print(raw_script_df.episode.unique())
print(raw_script_df.deleted.unique())

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26]
[False  True]

In [40]:
#evaluate 'speaker' column
print(sorted(raw_script_df['speaker'].unique()))

["(Pam's mom) Heleen", '3rd Athlead Employee', '4th Athlead Employee', 'A.J.', 'AJ', 'Aaron Rodgers', 'Abby', 'Actor', 'Actress', 'Ad guy 1', 'Ad guy 2', 'Air Force recruiter', 'Alan', 'Albiny', 'Alex', 'Alice', 'All', 'All Girls', 'All but Oscar', 'All the Men', 'Alonzo', 'Alyssa', 'Amanda', 'Amy', 'Andy', 'Andy & Erin', 'Andy & Michael', 'Andy & Walter', 'Andy and Darryl', 'Andy and Dwight', 'Andy and Erin', 'Andy and Jim', 'Andy and Michael', 'Andy, Creed, Kevin, Kelly', 'Andy, Creed, Kevin, Kelly, Darryl', 'Andy, Darryl & Officer Foley', 'Andy/Oscar', 'Andy/Pam', 'Andy/Stanley', 'Angel', 'Angela', 'Angela & Oscar', 'Angela and Dwight', 'Angela and Kelly', 'Angela/Pam', 'Angels', 'Anglea', 'Announcer', 'Another guy', 'Archivist', 'Artist', 'Astrid', 'Athlead Coworker', 'Athlead Employee', 'Attendant', 'Audience', 'Aunt Shirley', 'Automated phone voice', 'Ballerinas', 'Bar Manager', 'Barbara', 'Barbara Allen', 'Bartender', 'Bass Player', 'Ben', 'Ben Franklin', 'Bert', 'Beth', 'Bill', 'Bill Cress', 'Bill Hader', 'Billy', 'Billy Merchant', "Billy's Girlfriend", 'Blogger', 'Blogger 2', 'Blonde', 'Blood Drive Worker', 'Blood Girl', 'Boat Guy', 'Bob', 'Bob Vance', 'Bob Vance, Vance Refrigeration', "Bob's Secretary", 'Bookstore employee', 'Boom Box', 'Both', 'Bouncer', 'Brad', 'Brandon', 'Brenda', 'Brian', 'Broccoli Rob', 'Bruce', 'Bus driver', 'Business Student #1', 'Business Student #2', 'Business Student #3', 'Business partner', 'Businessman #1', 'Businessman #2', 'Businessman #3', 'Buyer', 'CPR Trainer', 'CPR trainer', 'Calvin', 'Camera Crew', 'CameraMan', 'Cameraman', 'Cameron', 'Captain Jack', 'Carla', 'Carla Fern', 'Carol', 'Carol Stills', 'Carrol', 'Carroll', 'Casey', 'Casey Dean', 'Cathy', 'Cece', 'Cell Phone Sales Person', 'Chad Lite', 'Chares', 'Charles', 'Check-in guy', 'Chef', 'Chelsea', 'Chet', 'Child', 'Children', "Chili's Employee", 'Christian', 'Christian Slater', 'Church congregation', 'Cindy', 'Clark', 'Clay Aiken', 'Cleaning lady', 'Client', 'Co-Worker 1', 'Co-Worker 2', 'Co-Worker 3', 'Co-worker', 'Co-worker #2', 'Co-workers', 'Coffee shop worker', 'Colin', 'College Student', 'Computron', 'Concierge', 'Concierge Marie', 'Cookie Monster', 'Council', 'Cousin Mose', 'Craig', 'Credit card rep', 'Creed', 'Crowd', 'Curtis', 'Customer', 'D', 'DJ', 'Dacvid Walalce', 'Dacvid Wallace', 'Dakota', 'Dale', 'Dan', 'Dan Gore', 'Dana', 'Dance Teacher', 'Danny', 'Darrly', 'Darry', 'Darryl', 'Darryl & Oscar', 'Darryl and Andy', 'Darryl and Angela', 'Darryl and Katy', 'Darryl and Kevin', "Darryl's sister", 'Daryl', 'David', 'David Brent', 'David Wallace', "David Wallace's Secretary", 'David Wallcve', 'DeAgnelo', 'DeAngelo', 'Dealer', 'Deangelo', 'Deangelo/Michael', 'Delivery Boy', 'Delivery Woman', 'Delivery man', 'Deliveryman', 'Denagelo', 'Denise', 'Dennis', 'Deposition Reporter', 'Devon', 'Diane', 'Diane Kelly', 'Dight', 'Director', 'Doctor', 'Documentary Crew Member', 'Donna', 'Donna Muraski', 'Doug', 'Doug [church member]', 'Drive Thru Customer', 'Drummer', 'DunMiff/sys', 'Dwight', 'Dwight ', 'Dwight & Andy', 'Dwight & Nate', 'Dwight [on phone]', 'Dwight and Andy', 'Dwight and Angela', 'Dwight and Erin', 'Dwight and Michael', 'Dwight and Roy', 'Dwight, Erin, Jim & Kevin', 'Dwight, Jim & Pam', 'Dwight, Jim and Michael', 'Dwight.', 'Dwight:', 'DwightKSchrute', 'Ed', 'Edward R. Meow', 'Einsteins', 'Elderly Woman', 'Elizabeth', 'Ellen', 'Emergency Operator', 'Employee', 'Employees', 'Employees except Dwight', 'Entire Prince family', 'Entire office', 'Eric', 'Erin', 'Erin and Irene', 'Erin and Kelly', "Erin's Cell Phone", 'Ernesto', 'Esther', 'Evan', 'Everybody', 'Everyone', 'Everyone watching', 'Ex-client', 'Fake Jim', 'Fake Stanley', 'Fannie', 'Fast Food Worker', 'Female Applicant', 'Female Athlead Employee', 'Female Intern', 'Female Shareholder', 'Female church member', 'Female church member [to Michael]', 'Female intern', 'Female worker', 'Financial Guy', 'Finger Lakes Guy', 'Fourth Shareholder', 'Frank', 'Fred', 'Fred Henry', 'Friend', 'Front Desk Clerk', 'GPS', 'Gabe', 'Gabe/Kelly/Toby', 'Gabor', 'German Minister', 'Gideon', 'Gil', 'Girl', 'Girl acting Pregnant', 'Girl at table', 'Girl in 2nd club', 'Girl in Club', 'Girls', 'Glen', 'Glenn', 'Graphics guy', 'Grotti', 'Group', 'Group chant', 'Group: Dunder Mifflin!\nAndy: Andy Bernard presents: Summer Softball Epic Fails! [Kevin swings bat on screen, fart noise follows] Fail. [repeats] Fail', 'Guy', 'Guy At Bar', 'Guy at bar', 'Guy at table', 'Guy buying doll', 'Guy in audience', 'Guys in breakroom', 'Gwenneth', 'Gym Instructor', 'Gym instructor', 'HCT', 'HCT Member #1', 'HCT Member #2', 'HCT Member #3', 'Hank', 'Hank [the security guard]', 'Hank the Security Guard', 'Hannah', 'Harry', 'Harvey', "Hayworth's waiter", 'Helen', 'Helene', 'Henry', 'Hide', 'Holly', 'Holly & Darryl', 'Holly & Michael', "Holly's Dad", "Holly's Mom", 'Holy', "Hooter's Girls", 'Hospital employee', 'Host', 'Hostess', 'Hot Dog Guy', 'Hotel Employee', 'Hotel Manager', 'Hunter', "Hunter's CD", 'I.D. Photographer', 'IT Tech Guy', 'Improv Teacher', 'Intern', 'Investor', 'Ira', 'Irene', 'Isaac', 'Isabel', 'Isabelle', 'JIM9334', 'JIM9334 [screen name]', 'JIm', 'Jada', 'Jake', 'Jakey', 'Jamie', 'Jan', 'Jan [on phone]', 'Jeb', 'Jerome Bettis', 'Jerry', 'Jessica', 'Jessica Alba', 'Jim', 'Jim ', 'Jim & Dwight', 'Jim & Pam', 'Jim and Dwight', 'Jim and Pam', "Jim's Dad", "Jim's voicemail", 'Jim, Josh, and Dwight', 'Jim, Pam, Michael and Dwight', 'Jo', 'Jo Bennett', 'Joan', 'Jordan', 'Josh', 'Julia', 'Julie', 'Julius', 'Julius Irving', 'Justin', 'Justine', 'Karen', 'Kathy', 'Katy', 'Keena Gifford', 'Kelly', 'Kelly and Erin', "Kelly's Father", "Kelly's Mom", 'Kendall', 'Kenny', 'Kevin', 'Kevin & Andy', 'Kevin & Meredith', 'Kevin & Oscar', "Kevin's computer", 'Kid', 'Kids', 'Lab Tech', 'Lady', 'Lady Blogger', 'Larry', 'Larry Myers', 'Lauren', 'Laurie', 'Lawyer', 'Lefevre', 'Leo', 'Lester', 'Lily', 'Limo Driver', 'Linda', 'Liquor Store Clerk', 'Little Girl', 'Lonnie', 'Lonny', 'Luke', 'Lynn', 'M ichael', 'MIchael', 'Madge', 'Magician', 'Maguire', 'Malcolm', 'Male Applicant 1', 'Male Applicant 2', 'Male church member', 'Male voice', 'Man', 'Man 1', 'Man 2', 'Man 3', 'Man from Buffalo', 'Man in Video', 'Man in line', 'Man on Phone', 'Man on phone', 'Manager', 'Marcy', 'Margaret', 'Marie', 'Mark', 'Mark McGrath', 'Martin', 'Mary-Beth', 'Master', 'Matt', 'Maurie', 'Mee-Maw', 'MeeMaw', 'Megan', 'Melissa', 'Melvina', 'Mema', 'Member', 'Men', 'Meredith', 'Meredith & Kelly', "Meredith's Vet", 'Meredith, Creed, Oscar and Matt', 'Meridith', 'Merv', 'Merv Bronte', 'Mexican Man', 'Micael', 'Micahel', 'Michae', 'Michael', 'Michael ', 'Michael & Dwight', 'Michael & Holly', 'Michael [on phone]', 'Michael and Andy', 'Michael and Christian', 'Michael and Darryl', 'Michael and Donna', 'Michael and Dwight', 'Michael and Erin', 'Michael and Holly', 'Michael and Jim', "Michael's Ad", 'Michael, Holly, and Darryl', 'Michael, Pam & Ryan', 'Michael/Dwight', 'Michal', 'Micheal', 'Michel', 'Mihael', 'Miichael', 'Mikela', 'Minister', 'Miss Trudy', 'Moderator', 'Molly', 'Mose', 'Mose [on phone]', 'Mother', 'Mr. Beesly', 'Mr. Brown', 'Mr. Figaro', 'Mr. Halpert', 'Mr. Kapoor', "Mr. O'Malley", 'Mr. Ramish', 'Mr. Romanko', 'Mr. Ruger', 'Mr. Schofield', 'Mrs. California', 'Mrs. Davis', 'Mrs. Kapoor', 'Mrs. Wallace', 'Nail manager', 'Nail stylist 1', 'Nail stylist 2', 'Nana', 'Narrator', 'Nate', 'Neighbor', 'Nellie', 'Nellie Bertram', 'Nellie and Pam', 'New Instant Message', 'Nick', 'Night cleaning crew', 'Nurse', "O'Keefe", 'Off-camera', 'Office', 'Office Staff', 'Officer', 'Officer 1', 'Officer 2', 'Officer Foley', 'Offscreen', 'Old Lady', 'Old Man', 'Old Woman', 'Old lady', 'Older Woman', 'Older guy', 'Oscar', 'Oscar and Stanley', "Oscar's Computer", "Oscar's friend", "Oscar's voice from the computer", 'Other Guy at Bar', 'Other waitress', 'Others', 'Overhead', 'Packer', 'Pam', 'Pam ', 'Pam & Dwight', 'Pam [on phone]', 'Pam and Jim', 'Pam and Kelly', 'Pam and others', 'Pam as fourth-biggest client', 'Pam as ninth-biggest client', "Pam's Mom", "Pam's dad", "Pam's mom", 'Pam/Jim', 'Paramedic', 'Parent in Audience', 'Parent in audience #1', 'Parent in audience #2', 'Paris', 'Park Ranger', 'Party Announcer', 'Party Guest', 'Party Photographer', 'Party Waiter', 'Party guests', 'Passer-by', 'Pastor', 'Patty', 'Paul', 'Paul Faust', 'Pediatrician', 'Penny', 'People in line', 'Pete', 'Pete Halpert', 'Phil', 'Phil Maguire', 'Philip', 'Phillip', 'Phone', 'Phone Salesman', 'Photographer', 'Phylis', 'Phyliss', 'Phyllis', 'Phyllis and Creed', 'Phyllis, Kevin & Stanley', 'Phyllis, Meredith, Michael, Kevin', 'Phyllis, Stanley, Dwight', 'Pizza guy', 'Police Officer 1', 'Police Officer 2', 'Policeman', 'Pretzel guy', 'Priest', 'Prince', 'Prince Granddaughter', 'Prince Grandfather', 'Prince Grandmother', 'Prince Son', 'Producer', 'Production Assistant', 'Professor', 'Professor Powell', 'Promo Announcer', 'Promo Voice', 'Queerenstein Bears', 'Rachel', 'Radio', 'Rafe', 'Randy', 'Ravi', 'Realtor', 'Receptionist', 'Receptionitis15', 'Receptionitis15 [screen name]', 'Redheaded Actress', 'Registrar', 'Rehab Nurse', 'Reid', 'Rep', 'Reporter', 'Reporter #1', 'Reporter #2', 'Robert', 'Robert & Creed', 'Robert California', 'Robert Dunder', 'Robotic Voice', 'Roger', 'Rolando', 'Rolf', 'Rolph', 'Ronnie', 'Rory', 'Rose', 'Roy', 'Ruger Sister 1', 'Ruger Sister 2', 'Ryan', 'Ryan Howard', 'Ryan and Kelly', 'Ryan and Michael', 'Ryan and others', "Ryan's Voicemail", 'Sadiq (IT guy)', 'Salesman', 'Salesmen', 'Saleswoman', 'Sam', 'Santigold', 'Sasha', 'School Official', 'Second Cindy', 'Second Shareholder', 'Secretary', 'Security', 'Security guard', 'Senator', 'Senator Lipton', 'Senator Liptop', 'Sensei', 'Sensei Ira', 'Server', 'Seth Mayers', 'Shane', 'Shareholder', 'Shelby', 'Sheriff', 'Sherri', 'Shirley', 'Soldier', 'Someone', 'Son', 'Song', 'Spanish Teacher', 'Speaker', 'Stanely', 'Stanley', 'Stanley & Phyllis', 'Staples Guy', 'Stephanie', 'Steve', 'Stewardess', 'Stonewall Host', 'Store Employee', 'Stripper', 'Stu', 'Student 1', 'Student 2', 'Student 3', 'Students', 'Suit Store Father', 'Suit Store Son', 'Supervisor', 'Susan', 'Sweeney Todd', 'TV', 'Tall Girl #1', 'Tall Girl #2', 'Tattoo Artist', 'Teacher', 'Teammates', 'Tech Guy', 'Ted', 'Teddy', 'Teddy Wallace', 'The Kids', 'Third Shareholder', 'Toby', 'Todd', 'Todd Packer', 'Together', 'Tom', 'Tom Halpert', 'Tom and Pete', 'Tony', 'Travel Agent', 'Trevor', 'Troy', 'Ty', 'Uncle Al', 'Unknown', 'Usher', 'VRG 1', 'VRG 2', 'Val', 'Vance Refrigeration Guy', 'Vance Refrigeration Guy 1', 'Vance Refrigeration Guy 2', 'Vance Refrigeration Worker #1', 'Vance Refrigeration Worker #2', 'Vance Refrigeration guy', 'Various', 'Vet', 'Video', 'Video Michael', 'Vikram', 'Voice #1 on phone', 'Voice #2 on phone', 'Voice of Thomas Dean', 'Voice on CD player', 'Voicemail', 'W.B. Jones', 'Wade', 'Waiter', 'Waitress', 'Wally Amos', 'Walt Jr.', 'Walter', 'Walter & Walter Jr', 'Walter Jr', 'Warehouse Crew', 'Warehouse Guy', 'Warehouse Michael', 'Warehouse Worker', 'Warehouse guy', 'Warehouse guy 1', 'Warehouse guy 2', 'Warehouse guys', 'Warehouse worker', 'Warren', 'Warren Buffett', "Wendy's phone operator", 'White', 'Window treatment guy', 'Wolf', 'Woman', 'Woman 1', 'Woman 2', 'Woman 3', 'Woman 4', 'Woman at bar', 'Woman from Buffalo', 'Woman in line', 'Woman on mic', 'Woman over speakerphone', 'Women', 'Worker', 'Wrangler', 'Young Man', 'Young Michael', 'Younger Guy', 'Zeke', 'Zion', "[Clark and Pete are shown on screen]\nVideo Andy: Hey, I'm Pete, puberty is such a drag, man. And I'm Clark! I like to eat toilet paper. [Clark and Pete wave at camera] We fail! [Video shows memorial of Jerry", '[repeats]\nAndy: Fail', 'abe', 'sAndy', 'song']

### There were numerous misspellings of the character names, so I decided to revise the character name data and include the totality of the lines. It took some time.

In [26]:
options = ['Michael',
           'M ichael', 
           'MIchael',
           'Micael', 
           'Micahel', 
           'Michae', 
           'Michael ',
           'Michael [on phone]',
           'Michal', 
           'Micheal', 
           'Michel', 
           'Mihael', 
           'Miichael',
           'Dwight',
           'Dwight.', 
           'Dwight:', 
           'DwightKSchrute',
           'Dight',
           'Jim',
           'JIm',
           'Jim ',
           'Pam',
           'Pam ',
           'Pam [on phone]',
           'Ryan', 
           'Ryan Howard',
           'Andy', 
           'Robert', 
           'Stanley', 
           'Kevin', 
           'Meredith',
           'Angela',
           'Angels', 
           'Anglea',
           'Angel',
           'Oscar', 
           'Phyllis',
           'Phylis', 
           'Phyliss',
           'Bob Vance',
           'Bob',
           'Roy', 
           'Jan', 
           'Jan [on phone]'
           'Kelly', 
           'Toby', 
           'Creed',
           'Darryl',
           'Darrly', 
           'Darry', 
           'Daryl',
           'Erin',
           'Carol Stills', 
           'Carrol', 
           'Carroll',
           'Gabe', 
           'Holly',
           'Helen', 
           'Helene',
           'Nellie', 
           'Clark', 
           'Pete',
           'David',
           'Dacvid Walalce', 
           'Dacvid Wallace',
           'David Wallace',
           'David Wallcve', 
           'DeAgnelo', 
           'DeAngelo',
           'Deangelo',
           'Louanne',
           'Jo', 
           'Cathy', 
           'Devon',
           'Danny', 
           'A.J.'
           'AJ',
           'Karen', 
           'Rolando',
           'Stephanie',
           'Ben',
           'Charles'] 
  
# selecting rows based on condition 
cleaned_df = raw_script_df[raw_script_df['speaker'].isin(options)] 
  
print('\nResult dataframe :\n', cleaned_df.shape, '\n \n approximately 5k lines were removed - we were able to retain the majority of the data')

Result dataframe :
 (54226, 6)

 approximately 5k lines were removed - we were able to retain the majority of the data

In [45]:
#replace all mistaken versions of character spellings with correct spellings

#Michael
cleaned_df.speaker.replace(['Michael'], ['Michael'], inplace=True)
cleaned_df.speaker.replace(['M ichael'], ['Michael'], inplace=True)
cleaned_df.speaker.replace(['Micael'], ['Michael'], inplace=True)
cleaned_df.speaker.replace(['Micahel'], ['Michael'], inplace=True)
cleaned_df.speaker.replace(['Michae'], ['Michael'], inplace=True)
cleaned_df.speaker.replace(['Michael '], ['Michael'], inplace=True)
cleaned_df.speaker.replace(['Michael [on phone]'], ['Michael'], inplace=True)
cleaned_df.speaker.replace(['Michal'], ['Michael'], inplace=True)
cleaned_df.speaker.replace(['Micheal'], ['Michael'], inplace=True)
cleaned_df.speaker.replace(['Michel'], ['Michael'], inplace=True)
cleaned_df.speaker.replace(['Mihael'], ['Michael'], inplace=True)
cleaned_df.speaker.replace(['Miichael'], ['Michael'], inplace=True)
cleaned_df.speaker.replace(['MIchael'], ['Michael'], inplace=True)

print('# of Michael')
print(cleaned_df.loc[cleaned_df['speaker']=='Michael','speaker'].agg(['count']))

# of Michael
count    12168
Name: speaker, dtype: int64

In [47]:
#Dwight
cleaned_df.speaker.replace(['Dwight'], ['Dwight'], inplace=True)
cleaned_df.speaker.replace(['Dwight.'], ['Dwight'], inplace=True)
cleaned_df.speaker.replace(['Dwight:'], ['Dwight'], inplace=True)
cleaned_df.speaker.replace(['DwightKSchrute'], ['Dwight'], inplace=True)
cleaned_df.speaker.replace(['Dight'], ['Dwight'], inplace=True)

print('# of Dwight')
print(cleaned_df.loc[cleaned_df['speaker']=='Dwight','speaker'].agg(['count']))

# of Dwight
count    7535
Name: speaker, dtype: int64

In [49]:
cleaned_df.speaker.replace(['JIm'], ['Jim'], inplace=True)
cleaned_df.speaker.replace(['Jim '], ['Jim'], inplace=True)

cleaned_df.speaker.replace(['Pam '], ['Pam'], inplace=True)
cleaned_df.speaker.replace(['Pam [on phone]'], ['Pam'], inplace=True)
            
cleaned_df.speaker.replace(['Ryan Howard'], ['Ryan'], inplace=True)

cleaned_df.speaker.replace(['Angels'], ['Angela'], inplace=True) 
cleaned_df.speaker.replace(['Anglea'], ['Angela'], inplace=True)
cleaned_df.speaker.replace(['Angel'], ['Angela'], inplace=True)

cleaned_df.speaker.replace(['Phylis'], ['Phyllis'], inplace=True)
cleaned_df.speaker.replace(['Phyliss'], ['Phyllis'], inplace=True)

cleaned_df.speaker.replace(['Bob Vance'], ['Bob'], inplace=True)

cleaned_df.speaker.replace(['Jan [on phone]'], ['Jan'], inplace=True)

cleaned_df.speaker.replace(['Darrly'], ['Darryl'], inplace=True)
cleaned_df.speaker.replace(['Darry'], ['Darryl'], inplace=True)
cleaned_df.speaker.replace(['Daryl'], ['Darryl'], inplace=True)

cleaned_df.speaker.replace(['Carol Stills'], ['Carrol'], inplace=True)
cleaned_df.speaker.replace(['Carroll'], ['Carrol'], inplace=True)

cleaned_df.speaker.replace(['Helene'], ['Helen'], inplace=True)
    
cleaned_df.speaker.replace(['Dacvid Walalce'], ['David'], inplace=True)
cleaned_df.speaker.replace(['Dacvid Wallace'], ['David'], inplace=True)
cleaned_df.speaker.replace(['David Wallace'], ['David'], inplace=True)
cleaned_df.speaker.replace(['David Wallcve'], ['David'], inplace=True)

cleaned_df.speaker.replace(['DeAgnelo'], ['DeAngelo'], inplace=True)
cleaned_df.speaker.replace(['Deangelo'], ['DeAngelo'], inplace=True)

cleaned_df.speaker.replace(['AJ'], ['A.J.'], inplace=True)

### Final character list

In [52]:
#revaluate 'speaker' column
print(sorted(cleaned_df['speaker'].unique()))

['Andy', 'Angela', 'Ben', 'Bob', 'Carrol', 'Cathy', 'Charles', 'Clark', 'Creed', 'Danny', 'Darryl', 'David', 'DeAngelo', 'Devon', 'Dwight', 'Erin', 'Gabe', 'Helen', 'Holly', 'Jan', 'Jim', 'Jo', 'Karen', 'Kevin', 'Meredith', 'Michael', 'Nellie', 'Oscar', 'Pam', 'Pete', 'Phyllis', 'Robert', 'Rolando', 'Roy', 'Ryan', 'Stanley', 'Stephanie', 'Toby']

In [53]:
cleaned_df.head()

,season,episode,scene,line_text,speaker,deleted
0,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,1,1,1,"All right. Well, let me show you how it's done.",Michael,False

In [54]:
#write cleaned_df to a .csv
cleaned_df.to_csv('cleaned_script_data.csv')