![logo](office_logo.png)

##### import libraries

In [1]:
import pandas as pd
import numpy as np

#natural language processing
#pip install nltk
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\vlad_\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# (2) Natural Language Processing

In [11]:
#import .csv file
cleaned_df = pd.read_csv("cleaned_script_data.csv", index_col=0)

#reset index for cleaned_df
cleaned_df.reset_index(drop=True, inplace=True)

print(cleaned_df.shape)
cleaned_df.head()

(54226, 6)

,season,episode,scene,line_text,speaker,deleted
0,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,1,1,1,"All right. Well, let me show you how it's done.",Michael,False

In [12]:
print(cleaned_df['speaker'].value_counts())

Michael      12168
Dwight        7535
Jim           6817
Pam           5380
Andy          3968
Kevin         1708
Angela        1698
Oscar         1490
Erin          1469
Ryan          1396
Darryl        1283
Phyllis       1074
Jan            949
Toby           936
Stanley        761
Meredith       645
Holly          608
Nellie         529
David          493
Creed          456
Gabe           436
Robert         430
Karen          341
Clark          260
Roy            255
DeAngelo       251
Charles        221
Pete           213
Jo             194
Danny           68
Helen           54
Cathy           50
Bob             48
Carrol          16
Devon            9
Stephanie        9
Ben              4
Rolando          4
Name: speaker, dtype: int64

In [13]:
#create 'text' variable of every script line
cleaned_text = pd.DataFrame(cleaned_df['line_text'])

#lets clean the first question as a first step
cleaned_text['line_text'][0]

'All right Jim. Your quarterlies look very good. How are things at the library?'

In [14]:
#only keep letters and replace other symbols with a white space in the first blurb
line = re.sub('[^a-zA-Z]', ' ', cleaned_text['line_text'][0])

#change letters to lower-case
line = line.lower()   

#split the first blurb which is a string into list
line = line.split()

#for loop to remove stop-words and to do lemmatization
wn = WordNetLemmatizer()
line = [wn.lemmatize(word) for word in line if not word in set(stopwords.words('english'))]

#join blurb back into a string from a list
line = ' '.join(line)

line

'right jim quarterly look good thing library'

In [15]:
print(len(pd.DataFrame(cleaned_df['line_text'])))
length = len(pd.DataFrame(cleaned_df['line_text']))

54226

In [16]:
corpus = []
for i in range(0, length):
    #only keep letters and replace other symbols with a white space in the first blurb
    line = re.sub('[^a-zA-Z]', ' ', cleaned_text['line_text'][i])

    #change letters to lower-case
    line = line.lower()   
    #split
    line = line.split()
    #for loop to remove stop-words and to do stemming
    wn = WordNetLemmatizer()
    line = [wn.lemmatize(word) for word in line if not word in set(stopwords.words('english'))]
    #join blurb back into a string from a list
    line = ' '.join(line)
    corpus.append(line)

In [17]:
#write corpus array into a dataframe and save it to a csv
corpus_df = pd.DataFrame(corpus, columns = ['line_text'])
corpus_df.head()

                                     line_text
0  right jim quarterly look good thing library
1                                oh told close
2      come master guidance saying grasshopper
3                         actually called yeah
4                     right well let show done

In [18]:
#write corpus_df to a .csv
corpus_df.to_csv('corpus_script_data.csv')

In [19]:
#write cleaned_df to a .csv
cleaned_df.to_csv('cleaned2_script_data.csv')